.headerBox {
    height: 70px;
    width: 100%;
    display: flex;
    bottom: 0;
    left: 0;
    top: 0px;
    background-color: #00000055;
    border: 1px solid #00000011;
    justify-content: center;
    position: sticky;
}

.headerLinksBox {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.headerItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: "Helvetica";
    width: 80%;
}

.headerLink {
    text-decoration: none;
    font-family: Helvetica;
    font-weight: lighter;
    text-align: center;
    color: #1c1c1c;
    width: 100px;
}

.headerLinkWhite {
    font-family: Helvetica;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    width: 100px;
}

.logo {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    background-color: black;
}

.mlogo {
    height: 40px;
    width: auto;
    margin-right: 5px;
}

/*Background-Image*/

.background-image {
    width: 100%;
    height: 645px;
    background-image: url('./Images/BMW M5.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    top: 0;
    left: 0;
}

/* CONTACTS*/

.bottomLinks {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    display: flex;
    margin-right: 42px;
}

.bottomLink {
    margin: 5px;
}

.footer {
    display: flex;
    justify-content: center;
}

/* BODY */

.titleBox {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
}

.title {
    height: 645px;
}

.titleSuperBox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 440px;
}

.titleSubBox {
    width: 50%;
    margin-top: 5%;
}

.titleDescription {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.titleCommonText {
    font-family: Helvetica;
    font-weight: lighter;
    color: #ffffff;
}

.textWhite {
    color: #ffffff;
    font-family: "Helvetica";
    font-weight: lighter;
}

.textWhiteTitle {
    color: #ffffff;
    font-weight: lighter;
    font-family: "Helvetica";
    font-size: 40px;
}

.textBlack {
    color: #1c1c1c;
    font-family: "Helvetica";
    font-weight: lighter;
}

.sectionName {
    margin-left: 20px;
    margin-top: 20px;
    color: #1c1c1c;
    font-family: "Helvetica";
}

.textBlackTitle {
    color: #1c1c1c;
    font-family: "Helvetica";
    font-weight: lighter;
    font-size: 50px;
    /*width: 90%;*/
}

/* fdfdfd*/
html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}


#menu {
    display: flex;
    transition: 0.5s;
    height: 70px;
    width: 100%;
    /*position: fixed;*/
    position: sticky;
    z-index: 10;
    /*top: 0px;*/
    top: 0px;
    background-color: white;
    border: 1px solid #00000011;
    /*justify-content: center;*/
    /*align-items: center;*/
}

#general {
    width: 100%;
    background-color: #ffffff;
    height: 780px;
    padding-top: 70px;
    padding-right: 10%;
    padding-left: 10%;
}

.mapBox {
    width: 100%;
    padding: 20px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6e6e6;
}

.map {
    width: 30%;
    height: auto;
}


/*Gallery*/
.gallery {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.galleryImg {
    width: 280px;
    height: 420px;
    object-fit: contain;
}

.galleryImg:hover {
    object-fit: cover;
}

/*.galleryItem{*/
/*    position: relative;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

/*.galleryItemDescriptionContainer {*/
/*    position: absolute;*/
/*    bottom: 8px;*/
/*    left: 16px;*/
/*}*/

#firstSection {
    display: none;
    background-image: url("Images/bmw-5-series-sedan-m-highlights-highlight-m5-competition-desktop-01.jpg");
    background-size: auto 100%;
}

#secondSection {
    display: none;
    background-image: url("Images/bmw-5-series-sedan-m-highlights-highlight-m5-competition-desktop-02.jpg");
    background-size: auto 100%;
}

#thirdSection {
    display: none;
    background-image: url("Images/bmw-5-series-sedan-m-highlights-highlight-m5-competition-desktop-03.jpg");
    background-size: auto 100%;
}

#fourthSection {
    display: none;
    background-image: url("Images/bmw-5-series-sedan-m-highlights-highlight-m5-competition-desktop-04.jpg");
    background-size: auto 100%;
}

.slide {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #00000055;
    color: white;
    position: fixed;
    z-index: 20;
    padding-left: 100px;
    padding-right: 100px;
    font-family: Helvetica;
    font-weight: lighter;
    background-blend-mode: darken;
    animation: fadein 1s;
}


@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}


.slideTitle {
    width: 80%;
    font-size: 60px;
}

.slideCloseCross {
    font-size: 60px;
    background-color: transparent;
    height: auto;
    color: white;
    border: none;
    outline: none;
    box-shadow: none;
}

.slideSubtitle {
    width: 80%;
    font-size: 30px;
}

.slideDescription {
    width: 80%;
    font-size: 25px;
}

.slideTitleWrap {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quote {
    height: 100%;
    width: 20%;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 30px;
}

.quoteContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
    margin-bottom: 100px;
}

.quoteAuthor {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 12px;
}

.doubleColumn {
    display: flex;
    /*border: 1px solid black;*/
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    margin-bottom: 50px;
}

.leftPartText {
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.leftPart {
    width: 40%;
}

.rightPart {
    width: 58%;
    display: flex;
    flex-direction: column-reverse;
}

.rightPartImage {
    width: 90%;
    height: auto;
    padding: 10px;
}

.rightPartImage:hover {
    transform: scale(1.02);
    animation: fade 1s;
}

.leftPartImage {
    width: 90%;
    height: auto;
    padding: 10px;
}

.leftPartImage:hover {
    transform: scale(1.05);
    animation: fade 1s;
}

@keyframes fade {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 1;
    }
}

.horsePowerDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 100px;
}

#features {
    padding-top: 70px;
    width: 100%;
}


#techSpecs {
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.techSpecsInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.techSpecRightPart {
    width: 45%;
}

.techSpecLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #00000011;
}

.background-image-features {
    width: 100%;
    height: 400px;
    background-image: url('./Images/cq5dam.resized.img.1680.large.time1592459462508.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 40%;
    background-size: auto 100%;
    top: 0;
    left: 0;
}

.feature-table {
    padding: 10%;
    width: 80%;
}

.feature-image {
    width: 100%;
    height: auto;
}

.feature-image:hover {
    transform: scale(1.05);
    animation: fade 1s;
}

.feature-title {
    height: 15%;
}

.feature-table-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.feature-slide {
    width: 30%;
    margin-bottom: 5%;
}

.feedback-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.feedback-form {
    background-image: url("Images/bmw-1@2x.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 20% 20%;
    width: 40%;
    height: 40%;
    padding: 5%;
}

.feedback-input {
    border: none;
    height: 40px;
    width: 65%;
    outline: none;
}

.feedback-button {
    border: 1px solid #2a62dc;
    background-color: #2a62dc;
    height: 42px;
    width: 30%;
    color: #ffffff;
    font-family: Helvetica;
    font-weight: lighter;
}

.feedback-upper-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.feedback-input-area {
    width: 100%;
    height: 50%;
    outline: none;
    margin-top: 3%;
}

.contactsBody {
    background-image: url("Images/cq5dam.resized.img.1680.large.time1565100166194.jpg");
    background-color: #00000077;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: auto 100%;
}

.contactsSection {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
}


.contactsMainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin-top: 100px;
}

.contactsInnerContainer {
    width: 50%;
    height: 100%;
}

.mapContacts {
    width: 40%;
    height: auto;
}

.initialDivHistory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 760px;
    background-image: url("Images/BMW M5_group_001.jpeg");
    background-size: 100% auto;
    background-position: 0px -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #00000088;
    background-blend-mode: darken;
    margin-bottom: 100px;
}

.historyImage {
    width: 50%;
    height: auto;
}

.historyImage:hover {
    transform: scale(1.05);
    animation: fade 1s;
}

